.products {
  margin: 5px auto;
}
.products .card img {
  padding: 15px;
  height: 220px;
}

.products .card {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin: 5px auto;
  width: 90%;
  height: 95%;
}

#heading {
  width: 60%;
  background-color: #e0fbfc;
  padding: 10px;
  margin: 100px auto;
  border-radius: 10px;

}

.display-3{
  text-align: center;
  font-family: 'Chela One', cursive;
  color:#023047;
}

.navbar-brand {
  font-family: montserrat,sans-serif;
  letter-spacing: 0.1em;
}

@media (max-width: 375px) {
  .card {
    width: 21rem;
  }
}

@media (min-width: 375px) {
  .card {
    width: 27rem;
  }
}

body{
  background-image: url(https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.form-label{
  font-weight: bolder;
}
